@font-face {
  font-family: 'Kumbh Sans';
  font-weight: 400;
  src: url('@fonts/KumbhSans-Regular.ttf') format('woff2');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-weight: 700;
  src: url('@fonts/KumbhSans-Bold.ttf') format('woff2');
}
