@use '../abstracts/abstractsIndex' as *;

.cart {
  border-radius: 1rem;
  margin: 0.9rem;
  margin-top: 6.4rem;
  margin-top: 7.2rem;
  background: $white;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    align-self: flex-start;
    width: 100%;
    font-size: $priFontSize;
    padding: 2.3rem;
    border-bottom: solid 0.1rem $darkGrayishBlue;
  }

  &__item-empty {
    font-weight: 700;
    color: $darkGrayishBlue;
    padding: 8rem 0rem;
  }

  &__figure {
    padding: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__figure-img-wrapper {
    width: 5rem;
    height: 5rem;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $grayishBlue;
  }

  &__item-name {
    text-transform: capitalize;
    text-overflow: ellipsis;
  }

  &__item-qty,
  &__item-price,
  &__item-operator {
    padding: 0 0.2rem;
  }

  &__item-total {
    color: $veryVarkBlue;
    font-weight: 700;
    padding: 0 0.5rem;
  }

  &__calculation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__remove-item-btn {
    border: none;
    width: 1.6rem;
    height: 1.6rem;
    background: url('@public/icon-delete.svg') no-repeat;
  }

  &__checkout-btn {
    align-self: stretch;
    border: none;
    border-radius: 1rem;
    background: $orange;
    color: $white;
    font-weight: 700;
    margin: 0 2.5rem;
    margin-bottom: 3rem;
    padding: 2rem 0;
  }
}

.hidden {
  display: none;
}
