@use '../abstracts/abstractsIndex' as *;

body {
  background: $white;
  max-width: $maxWidth;
  font-size: $priFontSize;
  font-family: $priFontFam;
  margin: 0 auto;
}

button {
  font-size: $priFontSize;
  font-family: $priFontFam;
  background-repeat: no-repeat !important;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2.5rem;
  position: fixed;
  top: 0;
  background: $white;
  width: 100%;
  max-width: $maxWidth;
  z-index: 100;
  $paddingTB: 2.8rem;

  @include mediaMin(780px) {
    padding: $paddingTB 4rem;
  }

  @include mediaMin($maxWidth) {
    padding: $paddingTB 16.5rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    @include mediaMin(780px) {
      border-bottom: solid 0.1rem $grayishBlue;
      padding-bottom: 3.5rem;
    }
  }

  &__burger-menu {
    border: none;
    width: 1.7rem;
    height: 1.5rem;
    background: url('@public/icon-menu.svg') no-repeat;
    &:hover {
      cursor: pointer;
    }

    @include mediaMin(780px) {
      display: none;
    }
  }

  &__logo-wrapper {
    padding: 0 1.5rem;
    @include mediaMin(780px) {
      padding: 0;
      padding-right: 1.5rem;
    }

    @include mediaMin($maxWidth) {
      margin-right: 3rem;
    }
  }

  &__nav-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    right: 12.5rem;
    right: 33.5%;
    max-width: 45rem;
    height: 100vh;
    background: $white;
    font-weight: 700;
    z-index: 100;

    @include mediaMin(780px) {
      display: flex !important;
      font-weight: 400;
      flex-direction: row;
      position: unset;
      height: 100%;
    }
  }

  &__nav-list-item {
    padding: 1.3rem 2.5rem;
    @include mediaMin(780px) {
      padding: 1.3rem;
    }

    @include mediaMin($maxWidth) {
      padding-right: 2rem;
    }

    &--btn {
      @include mediaMin(780px) {
        display: none;
      }
    }

    &-close-btn {
      margin-top: 1rem;
      margin-bottom: 2rem;
      width: 2rem;
      height: 2rem;
      background: url('@public/icon-close.svg');
      &:hover {
        cursor: pointer;
      }
      @include mediaMin(780px) {
        display: none;
      }
    }
  }

  &__nav-list-item-link {
    color: $darkGrayishBlue;
    position: relative;
  }

  &__nav-list-item-link:hover {
    color: $veryVarkBlue;
    @include mediaMin(780px) {
      &::before {
        content: '';
        position: absolute;
        bottom: -4.9rem;
        left: 0;
        width: 100%;
        height: 0.4rem;
        background-color: $orange;
      }
    }
  }

  &__nav-list-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $black;
    opacity: 0.75;
    z-index: 1;
    @include mediaMin(780px) {
      display: none;
    }
  }

  &__cart-avatar-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-btn {
    position: relative;
    width: 2.6rem;
    height: 2.6rem;
    background: url('@public/icon-cart-gray.svg') center;
    &:hover {
      cursor: pointer;
    }

    &-qty {
      position: absolute;
      top: -0.2rem;
      right: -0.3rem;
      font-size: 1rem;
      background: $orange;
      border-radius: 1rem;
      padding: 0rem 0.7rem;
      color: $white;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 2.6rem;
    margin-left: 1rem;

    &:hover {
      outline: solid 0.2rem $orange;
      cursor: pointer;
    }

    @include mediaMin(780px) {
      width: 4.5rem;
      margin-left: 3rem;
    }
  }
}
